.banner1{
	
	background-color:#2B3499;
	height:100px;
	justify-content: center;
	align-items: center;
	padding:0px;
	display: flex; 
    text-align:Center;
    margin: 0px; /* Remove default margin to avoid unexpected displacement */
    line-height: 1.5; /* Adjust line height as needed */
}
.banner2{
	background-color:#0174BE;
	display: flex;
    justify-content: Center;
	align-items: center;
	text-align:Center;
	height:40px;
	z-index: 2;
	
}